// 
// About
// 

.about-section {
    position: relative;
    z-index: 1;
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        $white 0%,
        $white 4rem,
        $black 18rem,
        $black 100%);

    p {
        margin-bottom: 0;
    }
}